.column {
    float: left;
    width: 25%;
    padding: 0 10px;

  }
  .row {
    margin: 0 ;
    background-color: #88c0ed;

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) and (max-width:950px) {
.column{
    width: 45%;
  margin-left: 25px;
}
}
@media (min-width: 950px) and (max-width:1250px) {
    .column{
        width: 30%;
        margin-left: 20px;
    }
}

.card-title{
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #e7e4fa;
  text-align: justify;
  font-family: sans-serif;
color: black;
}
.Details{
    display: flex;
    justify-content: space-between;
}

.button{
  display: flex;
  justify-content: space-between;
}

input{
  padding: 0.6em;
}